.white-card{
    background-color: white;
  border-radius: 12px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  padding: 16px;
}
.dark-white{
    color: black;
}
.cart_action{
    margin-left: 100px;
}
.des-crip{
    margin-left: 50px;
}
