@keyframes fade-in-word {
    0% {
      opacity: 0;
      transform: translateY(10px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  .heading22 h1 span,
  .heading22 p span {
    opacity: 0;
    display: inline-block;
    animation: fade-in-word 0.5s ease forwards;
  }
  

  /* zomineffect */

  .card {
    overflow: hidden;
    border-radius: 12px;
    transform: scale(0.95);
    opacity: 0;
    animation: smoothZoom 1s ease-out forwards;
  }
  
  /* Image styling */
  .card img {
    width: 100%;
    height: auto;
    transform: scale(1);
    transition: transform 0.5s ease;
  }
  
  /* Hover effect (optional) */
  .card:hover img {
    transform: scale(1.05);
  }
  
  /* Actual animation from center, not top */
  @keyframes smoothZoom {
    0% {
      transform: scale(0.8);
      opacity: 0;
    }
    100% {
      transform: scale(1);
      opacity: 1;
    }
  }
  