.banner-wrapper {
    position: relative;
    width: 100%;
    overflow: hidden;
  }
  
  .banner-container {
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
    width: 100%;
  }
  
  .banner-container img {
    width: 100vw; /* Full screen width */
    height: auto;
    flex-shrink: 0;
  }
  
  /* Arrows overlay style */
  .banner-wrapper button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
    background-color: rgba(255, 255, 255, 0.7);
    border: none;
    padding: 10px;
    font-size: 24px;
    cursor: pointer;
  }
  
  .banner-wrapper button:hover {
    background-color: rgba(255, 255, 255, 0.9);
  }
  
  .banner-wrapper button:first-of-type {
    left: 10px;
  }
  
  .banner-wrapper button:last-of-type {
    right: 10px;
  }
  

body::-webkit-scrollbar {
    display: none;
}

.horizontal-scroll-container::-webkit-scrollbar {
    display: none;
}
/* Chrome, Safari, and Opera */
::-webkit-scrollbar {
    display: none;
  }
  
  /* Firefox */
  * {
    scrollbar-width: none;
    -ms-overflow-style: none; 
  }
  