.banner-wrapper {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.banner-container {
  display: flex;
  overflow-x: auto;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
  scrollbar-width: none; /* Firefox */
}

.banner-container::-webkit-scrollbar {
  display: none; /* Chrome */
}

.banner-container img {
  min-width: 100%;
  height: auto;
  object-fit: cover;
  scroll-snap-align: start;
}

.banner-wrapper button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  font-size: 2rem;
  padding: 10px;
  z-index: 1;
  cursor: pointer;
}

.banner-wrapper button:first-of-type {
  left: 10px;
}

.banner-wrapper button:last-of-type {
  right: 10px;
}
